/* index.css */

body {
  background-color: #398969; 
  margin: 0; 
  padding: 0; 
  font-family: Arial, sans-serif; 
}

.header-container {
  background-color: #8ae0ad; /* Dark green color for header container */
  color: white; /* White color for text */
  padding: 5px; /* Add padding to the header container */
  display: flex;
  flex-direction: column; /* Display items vertically */
  align-items: center; /* Center items horizontally */
}

.logo-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

.logo {
  margin-left: 10px; /* Add margin to the right of the logo */
}

.title {
  font-weight: bold; /* Make the title bold */
  font-size: 72px;
  margin-right: 254px; /* Remove default margin */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center the title horizontally */
  white-space: nowrap;
}

.links-container {
  margin-top: 75px; /* Add margin between logo/title and links */
  display: flex;
  justify-content: center; /* Center the links horizontally */
}


.navigation-bar {
  background-color: #90EE90; /* Light green color for navigation bar */
  padding: 10px; /* Add padding to the navigation bar */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margin */
  display: flex; /* Use flexbox to arrange items horizontally */
}

.nav-link {
  display: inline-block;
  padding: 10px 160px; /* Adjust padding as needed */
  color: #008080; /* Teal green color for navigation links */
  font-weight: bold; /* Make navigation links bold */
  text-decoration: none;
  margin-right: 10px; /* Add margin between links */
}

.nav-link:hover {
  background-color: #66CDAA; /* Change background color on hover */
  color: white; /* Change text color on hover */
  border-radius: 5px; /* Add rounded corners on hover */
}

.nav-link:last-child {
  margin-right: 0; /* Remove margin for the last link */
}